/*
 * Base structure
 */

 a,
 a:focus,
 a:hover {
   color:#98105D;
 }

 /* Custom default button */
 .btn-default,
 .btn-default:hover,
 .btn-default:focus {
   color: #98105D;
   text-shadow: none; /* Prevent inheritance from `body` */
   background-color:  #dd5a3e ;
   border: 1px solid #98105D;

 }
 .lol-default,
 .lol-default:hover,
 .lol-default:focus {
   color: #98105D;
   text-shadow: none; /* Prevent inheritance from `body` */
   background-color:  #dd5a3e ;
   border: 1px solid #98105D;
   margin-left: 270px;
   margin-top: 10px;
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 10px;
   border-radius: 10%;

 }

 /*
  * Base structure
  */

 html,
 body {
   height: 100%;
   background-color: #867D8A;
   margin: 25px;
 }
 body {
   color: #fff;
   text-align: center;
   text-shadow: 0 1px 3px rgba(0,0,0,.5);
 }

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
  border: 0;
}

table,thead{
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
  text-align: center;
}

table,thead,tr{

  margin-top: 40px;
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
  text-align: center;
}

table,thead,tr,th{
  margin-left: 20px;
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
  text-align: center;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

 h1{
   color: #001DAF;
 }

.azerty{
  color: #001DAF;
  margin-bottom: 100px;
  margin-right: 300px;
  margin-left: px;
  margin-top: 10px;
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  margin-bottom: 20px;

}

.placeholder img {
  display: inline-block;
  border-radius: 50%;

}



.place {
  margin-bottom: 30px;
  text-align: ;
}

.place h4 {
  margin-bottom: ;

}
.place{
  margin-bottom: -2290px;
  }

.place img {
  display: inline-block;
  border-radius: 50%;
}

.place {
    position: relative;
    width: 220px;
    height: 280px;
    width: 65%;
    margin-bottom: 35px;
}

.place .caption {
    position: absolute;
    top: 5;
    bottom: 1;
    left: 0;
    width: 50%;
    background-color: darkorange;
}

.indent tr{ padding-left: 8em }

/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */

.inner {
  padding: 30px;
}

/*
 * Header
 */

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #98105D; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #98105D;
  border-bottom-color: #98105D;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }

  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 90px 50px;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }

  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

.leade{
  padding: 20px 90px;
}

.lead{
  padding: 20px 50px;
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.rows{
  margin-left: auto;
  margin-right: auto;

  /* masque les débordements et englobe le menu */
  overflow: hidden;

  /* on supprime les éventuels styles par défaut */


  padding-left:0px ;
  padding-bottom:0px ;
  padding-top:50px ;
  list-style: none;

  /* float permet à l'élément de prendre la largeur de son contenu */
  float: left;
  position: relative;

  /* on décale le menu vers la droite de la moitié de la largeur disponible */
  left: 45%;

  /* on décale chaque item vers la gauche de la moitié de la largeur du menu */
  right: 90%;

}

.travail{
  color: #001DAF;
  left: auto;
}

.form-group{
  margin-left: auto;
  margin-right: auto;

  /* masque les débordements et englobe le menu */
  overflow: hidden;

  /* on supprime les éventuels styles par défaut */


  padding-left:20px ;
  padding-bottom:20px ;
  padding-top:20px ;
  list-style: none;

  /* float permet à l'élément de prendre la largeur de son contenu */
  float: left;
  position: relative;

  /* on décale le menu vers la droite de la moitié de la largeur disponible */
  left: 100%;

  /* on décale chaque item vers la gauche de la moitié de la largeur du menu */
  right: 90%;

}
