{% extends "dashboard.html" %}
{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Project Flask</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ url_for('logout') }}">Log Out</a></li>
			</ul>
			<form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Search...">
			</form>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="/dashboard">Presentation</a></li>
				<li><a href="/consultation/">Consultation</a></li>
				<li><a href="/consultation/create/">Insert</a></li>
				<li><a href="/consultation/delete/<int:id>">Delete</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1>Recherche par {{ title }}</h1>
			<div class="row placeholders">
				<div class="rows">
					{% for a in accueil %}
						<p><a href="{{ a.id }}">{{ a }}</a></p>
					{% endfor %}
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
