
  {% extends "bootstrap/base.html" %}

  {% block title %}
  Dashboard
  {% endblock %}

  {% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}"/>
  {% endblock %}

  {% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project Flask</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/dashboard">Presentation<span class="sr-only">(current)</span></a></li>
            <li><a href="/consultation/">Consultation</a></li>
            <li><a href="/consultation/create">Insert</a></li>
            <li><a href="/consultation/delete">Delete</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{name}}</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/static/images/artiste.jpg" width="200" height="200">
              <h4>Artiste</h4>
              <a href="{{ url_for('page_artiste') }}">-></a>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/static/images/musique.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Musique</h4>
              <a href="{{ url_for('page_musique') }}">-></a>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/static/images/genre.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Genre</h4>
              <a href="{{ url_for('page_genre') }}">-></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
