{% extends "dashboard.html" %}

{% block title %}
Projet Flask
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('.static', filename='dashboard.css') }}">
{% endblock %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-control="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project Flask</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="{{url_for('login')}}">Login</a></li>
        <li><a href="{{url_for('signup')}}">Sign Up</a></li>
      </ul>

    </div>
  </div>

  <!--  -->
  <!--  -->
    <div class="inner cover">
      <h1 class="cover-heading">Important Information</h1>
      <h2 class="leade">Before you can view the contents of this site, it is imperative that you register or log in.</h2>
      <p class="lead">
        <a href="#" class=" btn-lg btn-default">Thank you so much</a>
      </p>
    </div>

</nav>


{% endblock %}
