{% extends "dashboard.html" %}
{% block main %}
	<div class="jumbotron text-center">
		<h1>{{ numero }} : {{ title }}</h1>
		<a href="/{{ lien }}/edit/{{ id }}">EDIT</a>
		<a href="/{{ lien }}/delete/{{ id }}">SUPPRIME</a>
	</div>
	<div class="container-fluid">
	<a href="{{ id-1 }}"><=</a>
	<a href="{{ id+1 }}">=></a>
	<table>
		<thead>
			<tr>
				<th>Artiste</th>
				<th>Titre</th>
				<th>Annee</th>
				<th>Id</th>
				<th>Parent</th>
				<th>Genre</th>
				<th>Image</th>
			</tr>
		</thead>
		<tbody>
		{% for m in musics %}
			<tr>
				<th class="indent">{{ m.artiste }}</th>
				<td>{{ m.titre }}</td>
				<td>{{ m.releaseYear }}</td>
				<td>{{ m.entryId }}</td>
				<td>{{ m.parent }}</td>
				<td>{{ m.genre }}</td>
				<td><img src="{{ url_for('static', filename='images/') }}{{ m.img }}" width="100" height="100"/></td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
	</div>
{% endblock %}
